/* You can add global styles to this file, and also import other style files */
@import "fonts.scss";

* {
  margin: 0;
}

.fontRaleway {
  font-family: 'Raleway';

}

h1,
h2 {
  color: whitesmoke;
}


h1 {
  font-weight: bold;
  font-size: 96px;
}


h2 {
  font-size: 32px;
}